@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, #root > div {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}